.app-container {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
}


@keyframes spin {
  to {
    transform: rotate(360deg);
  }


}

.toggle-position-link {
  text-align: center;
  color: rgb(25, 135, 84);
  text-decoration: underline;
  cursor: pointer;
  margin-bottom: 15px;
  font-size: 17px;
}

